In [49]:
name = "Upi"
addres, province = "Jl. Selabintana","7413412"
age = 20
scorePython = 85.5
isMarried = False

print("Nama :",name)
print("Alamat :",addres)
print("Umur :",age)
print("Nilai Pemrograman :", scorePython)
print("Status Menikah :", isMarried)
print("Propinsi :", province)

Nama : Upi
Alamat : Jl. Selabintana
Umur : 20
Nilai Pemrograman : 85.5
Status Menikah : False
Propinsi : 7413412

In [9]:
print("Tipe data <name> :",type(name))
print("Tipe data <addres> :",type(addres))
print("Tipe data <age> :",type(age))
print("Tipe data <scorePython> :",type(scorePython))
print("Tipe data <isMarried> :",type(isMarried))

Tipe data <name> : <class 'str'>
Tipe data <addres> : <class 'str'>
Tipe data <age> : <class 'int'>
Tipe data <scorePython> : <class 'float'>
Tipe data <isMarried> : <class 'bool'>

In [53]:
#Casting / KOnversi Tipe Data
#1. String ke (int,float,boolean)
strToInt = int(province)
strToFloat = float(province)
strToBool = bool(province)
print(strToInt + 2,strToFloat,strToBool, sep="-")

7413414-7413412.0-True

In [19]:
#Tipe data basis bilangan (desimal,biner,octal, hexa)

desimal = 500
biner = 0b1010 #10
octal = 0o377 #255
hexa = 0xff #255

print("Nilai desimal :",desimal)
print("Nilai biner :",biner)
print("Nilai octal :",octal)
print("Nilai hexa :",hexa)

print("Nilai biner dari ",desimal, ":",bin(desimal))
print("Nilai octal dari ",desimal, ":",oct(desimal))
print("Nilai Hexa dari ",desimal, ":",hex(desimal))

Nilai desimal : 500
Nilai biner : 10
Nilai octal : 255
Nilai hexa : 255
Nilai biner dari  500 : 0b111110100
Nilai octal dari  500 : 0o764
Nilai Hexa dari  500 : 0x1f4

In [35]:
city = "BANDUNG"
length = len(city)
print(city[0])
print(length)
print(city [length-1])

B
7
G

In [75]:
#Tipe data Collection
cities = ["Bandung", "Sukabumi","Bogor","Jakarta", "Medan"]
lengthCities = len(cities)
print(cities)
print(cities[0])
print(cities[lengthCities-1])
print(cities[lengthCities-1][0])
print(cities[lengthCities-1][len(cities[lengthCities-1])-1])
cities[0] = "Bali"
#cities[5] = "Malang" akan menyebabkan error out range
print(cities)

names = ("Andi","Ferdi","Raihan")
print(names)
print(names[1])
#names[0] = "Dedi" error immutable tuple

studentData = {
    "name" : "Robi",
    "age" : 25,
    "address" : {
        "street" : "Cisaat",
        "number" : 21,
        "province" : "Jawa Barat"
    },
    "isMarried" : True,
    "hobbies" : ["Basket Ball, Football"]
}

print(studentData)
print(studentData["age"])
print(studentData["address"]["province"])
print(studentData["hobbies"][0])

studentList = [
    {
       "name" : "Robi",
       "age" : 25,
       "address" : {
           "street" : "Cisaat",
           "number" : 21,
           "province" : "Jawa Barat"
      },
      "isMarried" : True,
      "hobbies" : ["Basket Ball, Football"]
    },
    {
      "name" : "Robi",
      "age" : 25,
      "address" : {
          "street" : "Cisaat",
          "number" : 21,
          "province" : "Jawa Barat"
    },
      "isMarried" : True,
      "hobbies" : ["Chess, Singing"]
    }
]
print(studentList[0])
print(studentList[1])
print(studentList[1]["address"]["province"])

['Bandung', 'Sukabumi', 'Bogor', 'Jakarta', 'Medan']
Bandung
Medan
M
n
['Bali', 'Sukabumi', 'Bogor', 'Jakarta', 'Medan']
('Andi', 'Ferdi', 'Raihan')
Ferdi
{'name': 'Robi', 'age': 25, 'address': {'street': 'Cisaat', 'number': 21, 'province': 'Jawa Barat'}, 'isMarried': True, 'hobbies': ['Basket Ball, Football']}
25
Jawa Barat
Basket Ball, Football
{'name': 'Robi', 'age': 25, 'address': {'street': 'Cisaat', 'number': 21, 'province': 'Jawa Barat'}, 'isMarried': True, 'hobbies': ['Basket Ball, Football']}
{'name': 'Robi', 'age': 25, 'address': {'street': 'Cisaat', 'number': 21, 'province': 'Jawa Barat'}, 'isMarried': True, 'hobbies': ['Chess, Singing']}
Jawa Barat

In [89]:
#Konversi dictionary

list_list = [["Name","Iki"],["Age",30], ["Status",True]]
dictListStudent = dict(list_list)
print(dictListStudent)

list_tuple = [("Name","Rudi"),("Address","Bogor")]
dictTupleStudent = dict(list_tuple)
print(dictTupleStudent)

tuple_list = (["Name","Tiger"],["Type","Mamalia"])
dictListAnimal = dict(tuple_list)
print(dictListAnimal)

tuple_tuple = (("Name","Crocodile"),("Type","Reptile"))
dictTupleAnimal = dict(tuple_tuple)
print(dictListAnimal)

keys = ["vehicle","brand","cc"]
values = ["car", "bmw","1"]
car = dict(zip(keys,values))
print(car)

{'Name': 'Iki', 'Age': 30, 'Status': True}
{'Name': 'Rudi', 'Address': 'Bogor'}
{'Name': 'Tiger', 'Type': 'Mamalia'}
{'Name': 'Tiger', 'Type': 'Mamalia'}
{'vehicle': 'car', 'brand': 'bmw', 'cc': '1'}